@font-face {
    font-family: Terminal;
    src: url("./resources/font/TerminalVector.ttf");
}

@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  

body{
background-color: black;
}

.input-container{
    outline: none;
    border: none;
    color: green;
    background-color: black;
    font-size: 30px;
    
    font-family: 'Terminal';
}

#main-srch-bar{
    position: absolute;
    top: 45%;
    left: 40%;
}

#placeholder{
    position: absolute;
    display: none;
    left: 40%;
    top: 50%;
    size: 26px;
    color: green;
    font-family: 'Terminal';
    font-size: 46px;
    animation: fadeOut 2s;
}