@font-face {
    font-family: Terminal;
    src: url("./resources/font/TerminalVector.ttf");
}

body{
background-color: black;
}

.input-container{
    outline: none;
    border: none;
    color: green;
    background-color: black;
    font-size: 30px;
    
    font-family: 'Terminal';
}

#main-srch-bar{
    position: absolute;
    top: 45%;
    left: 40%;
}

#placeholder{
    position: absolute;
    left: 50%;
    top: 50%;
    size: 26px;
    color: black;
}